{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}

<div class=”post_name”>
    <a href=”{% url ‘user_profile’ post.author.username %}”>{{ post.author }}</a>
 </div>

 <div class="profile_card">
    {% comment %} <img src="trees.jpeg" alt="trees"> {% endcomment %}
    
    {% comment %} <h4 id='author-name'>{{ user.username }}</h4> {% endcomment %}
    {% if news.story.author %}
        <h4>{{ news.story.author }}</h4>
    {% endif %}

    <p class="title">Author for She Codes</p>
    <p class="title">University of Western Australia</p>
    
</div>

{% endblock%}

{% comment %} forloop.counter {% endcomment %}




