{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}

<div class=”post_name”>
    {{ author.first_name }} {{ author.last_name }}
 </div>

 <div class="profile_card">
    {% comment %} <img src="trees.jpeg" alt="trees"> {% endcomment %}
    
    {% comment %} <h4 id='author-name'>{{ user.username }}</h4> {% endcomment %}
    {% if author %}
        <h4>{{ author.username }}</h4>
    {% endif %}

    <p class="title">Author for She Codes</p>
    <p class="title">University of Western Australia</p>
    
</div>

<div>
{% for story in author.newsstory_set.all %}
{{ story.title }}
{% endfor %}
</div>

{% endblock%}


{% comment %} forloop.counter {% endcomment %}




