{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}

    {% comment %} <p>Welcome!</p> {% endcomment %}
    
    

    <div class="profile_card">
        {% comment %} <img src="trees.jpeg" alt="trees"> {% endcomment %}
        
        {% comment %} <h4 id='author-name'>{{ user.username }}</h4> {% endcomment %}
        {% if user.username %}
            <h4>{{ user.username }}</h4>
        {% endif %}

        <p class="title">Author for She Codes</p>
        <p class="title">University of Western Australia</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
            
     
    

    <div id="latest-stories">
        {% if user_stories %}
            {% for story in user_stories %}
                {% include "news/storyCard.html" with story=story %}
                <!-- <p>{{ story.title }}</p> -->
            {% endfor %}
        {% else %}
            <h2>The author hasn't written any story yet</h2>
            {% comment %} <button>login</button> {% endcomment %}
        {% endif %}
    </div> 

{% endblock%}

{% comment %} forloop.counter {% endcomment %}


{% comment %} {% if article.user.image %}
  {{ article.user.image | image_url: width: 200, height: 200 }}
{% endif %} {% endcomment %}