{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock%}

{% block content %}

    <h2>User Profile</h2>
    <p>User name:</p>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "news/storyCard.html" with story=story position=forloop.counter %}
                <!-- <p>{{ story.title }}</p> -->
            {% endfor %}
        {% else %}
            <button>Create a new story here.</button>
        {% endif %}
    </div> 

{% endblock%}

