<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if story.image %}
            <img src="{{story.image}}">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            {% comment %} <h4>{{ story.author }}</h4> {% endcomment %}
            <a href="{% url 'users:userProfile' %}"><h4>{{ story.author }}</h4></a>
            <h4>{{ story.pub_date }}</h4>
        </div>
    </a>
</div>



{% comment %} {% if position < 5 %}
<img src="../static/news/images/placeholder-{{ position }}.jpg"> {% endcomment %}